<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <!-- CSS Link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

<div class="container">
    <div class="login-box">
        <h2>Admin Login</h2>

        <form action="/login" method="POST">
            <div class="input-box">
                <input type="text" name="username" required>
                <label>Username</label>
            </div>

            <div class="input-box">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>

            <button type="submit">Login</button>
        </form>
    </div>
</div>

</body>
</html>